@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Prociono&display=swap');
*{
    margin:0;
    padding: 0%;
}

:root{
    --font-destaque:  "Prociono", serif;
    --font-texto: "Pacifico", cursive;
    --cor1: #250902ff;
    --cor2: #38040eff;
    --cor3: #640d14ff;
    --cor4: #800e13ff;
    --cor5: #ad2831ff;
}
body{
    background-color: var(--cor5);
    font-family: var(--font-texto);
}

footer{
    text-align: center;
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-color: var(--cor1);
    padding: 1em;
}

footer p{
    font-size: 1.2rem;
    color: var(--cor5);
}

footer a{
    text-decoration: none;
    color: var(--cor5);
}