@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Prociono&display=swap');
*{
    margin:0;
    padding: 0%;
}

:root{
    --font-destaque:  "Prociono", serif;
    --font-texto: "Pacifico", cursive;
    --cor1: #250902ff;
    --cor2: #38040eff;
    --cor3: #640d14ff;
    --cor4: #800e13ff;
    --cor5: #ad2831ff;
}
body{
    font-family: var(--font-texto);
    background-image: url(´img/34386132_18248240217.jpg`);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: var(--cor1);
}

#contaíner{
    display: flex;
}

.card{
    margin: 1rem 1rem;
    background-color: var(--cor2);
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.card__content{
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}
.card:hover .card__content{
    transform: rotateY(180deg);
}

.card__content h3{
    border: 3x solid var(--cor1)
    font-family: var(--font-title);
    text-aling: center;
    padding: 0.5rem;
    position: absolute;
    margin:0.6rem;
    border-radius:0.6rem;
    font-size: 1.5vw;
    backface-visibility: hidden;
}
.card__content__question{
    margin-top: 2.5rem;
    font-size: 1,5rem;
}

.card__content p{
    margin: 1rem;
    padding: 1.3rem;
}
.card__content__question,
.card__content__answer{
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

footer{
    text-align: center;
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-color: var(--cor1);
}

footer p{
    color: var(--cor1);
    font-size: 0.9rem;
    margin: 0.8rem 0 1.2rem 0;
}

footer a{
    text-decoration: none;
    color: var(--cor5);
}